/*Add this in so that older browsers know how to display newer HTML5 elements*/
header, nav, main, footer, aside {display: block;}
/*By default browser only includes widht/height of the element to determine space to take up,
by changing the box-sizing to border-box, any padding and border will be included in the width and height
use universal selector (*) to select all elements*/
*{box-sizing: border-box;}

body {margin: 0;
	 background-color: #ffffff;
}
#container {color: #000000;
			font-family: Verdana, Arial, sans-serif;
}
header {  background-color: #ffffff;
          color: #00388F;
          padding: 0 20px;
          border-bottom: 2px solid #000000;
}
nav {display: none
}
aside {float: right;
	 width: 200px;

}
main {margin: 0 21px 0 160px;
	padding: 1px 10px 20px 10px;
	background-color: #ffffff;
	color: #000000;
}
footer {font-size: .70em;
        text-align: center;
        color: #000000;
        background-color: #ffffff;
        padding-top: 10px;
}
h1 {margin-top: 0;
	font-size: 24em;
	text-align: left;
	text-shadow: 2px 2px 2px #000000;
}
header a{display: none;}
main p {margin: 20px;
}

main h2, main h3 {color: ##00388F;
				background-color: #ffffff;
}
.floatright {margin: 10px;
			float: right;
}
aside h3 {padding-bottom: 2px;
		border-bottom: 1px solid #000000;
		margin: 10px;
		font-size: 0.90em;
		color: #00388F;
}
.news {font-size: 0.80em;
	   margin: 10px;
}

aside a {text-decoration: none;}
aside a:after {content: "(attr(href)")";}
